.main {
  background-color: #f7f7f7;
}

.section__title {
  display: block;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 1.2rem;
}

.section__text {
  opacity: 0.9;
}

.section__button {
  margin: 0.75rem 0;
}
